* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-image: url("images/bg.jpg");
}

.top-panel {
  height: 20vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  background-color: #FDFEFE;
}

.title-container {
  top: 50px;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.top-nav-bar {
  background-color: #283747;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 25%;
  margin-right: 25%;
}

a {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FDFEFE;
  text-decoration: none;
  width: 10%;
}

.menu-container {
  margin: auto;
  width: 50%;
  height: 70vh;
  background-color: white;
  overflow-y: auto;
}

.menu {
  width: 100%;
}

.type {
  text-decoration: underline;
  text-align: left;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

.price {
  width: 25%;
  text-align: right;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  padding: 20px;
}

.name {
  width: 25%;
  text-align: left;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  padding: 20px;
}

.menutitle {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 26px;
  font-family: "Work Sans", sans-serif;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes aboutUs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aboutUs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menulink {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1300px) {
  .menu-container {
    width: 100%;
  }
  .top-panel {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .title-container {
    top: 0;
  }
  .logo {
    opacity: 0;
    position: absolute;
  }
  .top-nav-bar {
    height: 10vh;
  }
  .nav-links {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) and (max-width: 1000px) {
  .top-panel {
    height: 10vh;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .logo {
    opacity: 0;
  }
  .top-nav-bar {
    height: 100%;
    width: 100%;
  }
  .nav-links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us-btn {
    width: 150px;
    height: 30px;
    font-size: 8px;
  }
  a {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 1300px) and (max-width: 360px) {
  .top-nav-bar {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */